#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats






#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    log                     global
    option                  dontlognull
    option http-server-close
#    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000




listen stats
        bind :9000  name clear
	mode http
        stats enable
        stats hide-version
        stats show-node
        stats realm Haproxy\ Statistics
        stats uri /haproxy_stats
        stats auth admin:openproxy


frontend ShadowSocksIn
        bind *:1080
        default_backend v2rayOut


backend v2rayOut
    mode tcp
    balance     roundrobin
    server  v2ray14000 127.0.0.1:14000 maxconn 20480 check
    server  v2ray14001 127.0.0.1:14001 maxconn 20480 check
    server  v2ray14002 127.0.0.1:14002 maxconn 20480 check
    server  v2ray14003 127.0.0.1:14003 maxconn 20480 check
    server  v2ray14004 127.0.0.1:14004 maxconn 20480 check
    server  v2ray14005 127.0.0.1:14005 maxconn 20480 check
